# Ядро
torch>=2.6.0
torchaudio
torchvision

# Stable Audio & DSP
stable-audio-tools
einops
vector-quantize-pytorch
scipy
soundfile
numpy
accelerate

# Интерфейсы
huggingface_hub
transformers
diffusers

# Утилиты
edge-tts
requests
crewai
langchain_openai
protobuf
sentencepiece
